html, body {height:100%;}
body {margin: 0; font-family: Ubuntu, "Helvetica Neue", sans-serif;}
html{
  scroll-behavior: smooth;;
}
input.tube-control{
  padding: 20px;
  outline: none;
  border: none;
  background-color: rgb(233, 233, 233);
  color: rgb(153, 153, 153);
  font-size: 17px;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
  margin: 15px;
}
.error{
  font-weight: bold;
  color: rgb(182, 24, 24);
  text-align: center;
  padding: 25px;
}
.tube-button{
  border: none;
  outline: none;
  padding: 20px;
  width: 100%;
}
